AWS_REGION=ap-south-2
S3_BUCKET=nightly-reports-sreeprada-2026
S3_INPUT_KEY=sales.csv
S3_REPORT_PREFIX=reports
ECS_CLUSTER=nightly-reports-cluster
ECS_TASK_DEFINITION=nightly-sales-report-task
ECS_SUBNET_IDS=subnet-xxxxxxxx,subnet-yyyyyyyy
ECS_SECURITY_GROUP_ID=sg-xxxxxxxx
ECS_CONTAINER_NAME=nightly-sales-report
ECS_ASSIGN_PUBLIC_IP=ENABLED
ECS_CPU=256
ECS_MEMORY=512
CLOUDWATCH_LOG_GROUP=/ecs/nightly-sales-report
CLOUDWATCH_LOG_STREAM_PREFIX=ecs
SCHEDULER_NAME=nightly-sales-report-schedule
SCHEDULER_GROUP=default
CORS_ORIGINS=http://localhost:5175,http://localhost:8080,http://localhost:5173,http://127.0.0.1:5175,http://127.0.0.1:8080,http://127.0.0.1:5173
